[Unit]
Description=Sleep service
ConditionPathExists=/home/root/lbp-price-indexer/indexer
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60

WorkingDirectory=/home/root/lbp-price-indexer/indexer
ExecStart=/home/root/lbp-price-indexer/indexer/target/release/lbp-price-indexer

# make sure log directory exists and owned by syslog
ExecStartPre=/bin/mkdir -p /var/log/indexer
ExecStartPre=/bin/chown syslog:adm /var/log/indexer
ExecStartPre=/bin/chmod 755 /var/log/indexer
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=indexer

[Install]
WantedBy=multi-user.target